.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #a5a6a9 0%, #eef1f5 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-text {
  position: relative;
  width: 80%;
  margin: 20px 0;
  font-size: 30px;
  padding: 10px 20px;
  background-color: white;
  display: flex;
}
#close-popup {
  position: absolute;
  top: -30px;
  right: -15px;
  width: 40px;
  font-size: 32px;
}
.popup-text img {
  float: left;
  max-width: 50%;
}
